<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>>projects <%= index %></title>
</head>
<%- include('./partials/nav') %>
<body>
<h1> More detail about the project </h1>

    <ul>
            <% projects.forEach(function(item){ %>
                <%if(item.id === index){%>

                <li class="detail">
                <h2><%= item.title %></h1>
                <br>
                 <img src="<%= item.image %>" alt=""> 

                <p> <%= item.description %></p>
            
                <p> <%= item.technologies %></p>
                
                <p> <%= item.features %></p>
                
                <p> <%= item.status %></p>
                
                <p> <%= item.reflection %></p>
                </li>
            <%}%>
                <%})%>
        </ul>

    
    
</body>
</html>