<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skills</title>
</head>
<%- include('./partials/nav') %>

    <body>

        
            <% skills.forEach(function(item){ %>
                  
                <section id="skill-card">
                 <div id="skillName">
                    <h1 ><%= item.name %></h1>       
                </div>

                <div class="SKcard">
                    
                    <p>
                        <%= item.category %>
                    </p>
                    <p>
                        <%= item.level %>
                    </p>
                    <p>
                        <%= item.description %>
                    </p>
                   
                </div>
                </section>

                <%})%>

    </body>

</html>